<div>
  <img src="/assets/img/sign_up_logo.png" id="icon" alt="User Icon"/>
</div>
<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
    <input type="text" #first_name="ngModel" [(ngModel)]="userService.selectedUser.first_name" name="first_name" placeholder="First name" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !first_name.valid }">
    <div *ngIf="signUpForm.submitted && !first_name.valid">
        <label class="validation-message">This field is required.</label>
      </div>
    <input type="text" #last_name="ngModel" [(ngModel)]="userService.selectedUser.last_name" name="last_name" placeholder="Last name" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !last_name.valid }">
    <div *ngIf="signUpForm.submitted && !last_name.valid">
        <label class="validation-message">This field is required.</label>
      </div>
    <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email" required [pattern]="emailRegex" [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
    <div *ngIf="signUpForm.submitted && !email.valid">
        <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
        <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
      </div>
    <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password"
      minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
    <div *ngIf="signUpForm.submitted && password.errors">
        <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
        <label *ngIf="password.errors.minlength" class="validation-message">Enter at least 4 characters.</label>
    </div>
    <input type="submit" value="Sign Up">
</form>

<div class="success" *ngIf="showSuccessMessage">
    Saved successfully
</div>
<div class="alert" *ngIf="serverErrorMessage">
    {{serverErrorMessage}}
</div>